.main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem 0.75rem;
}


.h1 {
  margin: 1.5rem 0;
  font-size: 1.25rem;
}

.propertylistContainer {
  background-color: white;
  max-width: 1500px;

  margin: 0 auto;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 975px) {
  .propertylistContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
