.flexContainer {
  padding: 0.75rem 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}
.flexContainer > *:not(:last-child) {
  margin-right: 3rem;
}



.categories_container {
  cursor: pointer;
  padding: 0.5rem 0 1rem 0;
  background-color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.category {
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  
  border-bottom: 2px solid white;
  opacity: 0.6;
}
.category:hover {
  opacity: 1;
  border-bottom: 2px solid lightgray;
}

.span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.active {
  border-color: gray;
}